@charset "UTF-8";
.nav {
  height: 55px;
  background-color: #fff;
  border-bottom: 5px solid #000;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
@media (max-width: 525px) {
  .nav {
    height: 46px;
    border-bottom: 3px solid #000;
  }
}
.nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  top: 50%;
  position: relative;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.nav .container .logo {
  display: inline-block;
  height: 50px;
  width: 105px;
  border: none;
  background-color: #3c00b4;
  vertical-align: top;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-mask: url(../images/logo.svg) no-repeat
    center center;
  -webkit-mask-size: 100%;
}
@media (-ms-high-contrast: none), screen and (-ms-high-contrast: active) {
  .nav .container .logo {
    background: url(../images/logo.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
@supports (-ms-ime-align: auto) {
  .nav .container .logo {
    background: url(../images/logo.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
@media (max-width: 525px) {
  .nav .container .logo {
    width: 80px;
  }
}
.nav .container .group {
  position: absolute;
  right: 0;
  top: 10px;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.nav .container .group .icon-search {
  margin-right: 0;
}
.icon-search {
  display: inline-block;
  height: 28px;
  width: 28px;
  border: none;
  background-color: #000;
  margin-top: 0;
  margin-left: -5px;
  vertical-align: top;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-right: 30px;
  -webkit-mask: url(../images/Search.svg)
    no-repeat center center;
  -webkit-mask-size: 90%;
}
.icon-search:hover {
  background-color: #1ea0c3;
}
@media (max-width: 525px) {
  .icon-search {
    margin-right: 15px;
  }
}
@media (-ms-high-contrast: none), screen and (-ms-high-contrast: active) {
  .icon-search {
    background: url(../images/pc-search.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
@supports (-ms-ime-align: auto) {
  .icon-search {
    background: url(../images/pc-search.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
.icon-fb {
  display: inline-block;
  height: 22px;
  width: 22px;
  border: none;
  background-color: #000;
  margin-top: 0;
  margin-left: -5px;
  vertical-align: top;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-right: 30px;
  -webkit-mask: url(../images/facebook.svg)
    no-repeat center center;
  -webkit-mask-size: 100%;
}
.icon-fb:hover {
  background-color: #1ea0c3;
}
@media (max-width: 525px) {
  .icon-fb {
    margin-right: 15px;
  }
}
@media (-ms-high-contrast: none), screen and (-ms-high-contrast: active) {
  .icon-fb {
    background: url(../images/pc-fb.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
@supports (-ms-ime-align: auto) {
  .icon-fb {
    background: url(../images/pc-fb.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
.icon-line {
  display: inline-block;
  height: 22px;
  width: 22px;
  border: none;
  background-color: #fff;
  margin-top: 0;
  margin-left: -5px;
  vertical-align: top;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-right: 30px;
  -webkit-mask: url(../images/line-messenger.svg)
    no-repeat center center;
  -webkit-mask-size: 100%;
}
.icon-line:hover {
  background-color: #1ea0c3;
}
@media (max-width: 525px) {
  .icon-line {
    margin-right: 15px;
  }
}
@media (-ms-high-contrast: none), screen and (-ms-high-contrast: active) {
  .icon-line {
    background: url(../images/line-messenger.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
@supports (-ms-ime-align: auto) {
  .icon-line {
    background: url(../images/line-messenger.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
.icon-mail {
  display: inline-block;
  height: 28px;
  width: 28px;
  border: none;
  background-color: #000;
  margin-top: 0;
  margin-left: -5px;
  vertical-align: top;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-right: 30px;
  -webkit-mask: url(../images/mail_gray.svg)
    no-repeat center center;
  -webkit-mask-size: 100%;
}
.icon-mail:hover {
  background-color: #1ea0c3;
}
@media (max-width: 525px) {
  .icon-mail {
    margin-right: 15px;
  }
}
@media (-ms-high-contrast: none), screen and (-ms-high-contrast: active) {
  .icon-mail {
    background: url(../images/mail_gray.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
@supports (-ms-ime-align: auto) {
  .icon-mail {
    background: url(../images/mail_gray.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
li {
  list-style: none;
}
main.fixed {
  position: fixed;
}
@media (max-width: 1025px) {
  main {
    background-color: hsla(0, 0%, 100%, 0);
  }
}
menu input[type="checkbox"] {
  display: none;
}
menu input[type="checkbox"]:checked ~ hamburger > i {
  background-color: transparent;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
menu input[type="checkbox"]:checked ~ hamburger > i:before {
  -webkit-transform: translate(-50%, -50%) rotate(315deg);
  transform: translate(-50%, -50%) rotate(315deg);
  background-color: #fff;
}
menu input[type="checkbox"]:checked ~ hamburger > i:after {
  -webkit-transform: translate(-50%, -50%) rotate(-315deg);
  transform: translate(-50%, -50%) rotate(-315deg);
  background-color: #fff;
}
menu hamburger {
  display: block;
  width: 30px;
  height: 25px;
  position: absolute;
  z-index: 999;
  top: 10px;
  -webkit-transition: all 1s;
  transition: all 1s;
  left: 0;
}
menu hamburger:hover {
  cursor: pointer;
}
menu hamburger > i {
  position: absolute;
  width: 30px;
  height: 2px;
  top: 50%;
  background-color: #3c00b4;
  pointer-events: auto;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}
menu hamburger > i:after,
menu hamburger > i:before {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  left: 50%;
  background-color: #3c00b4;
  content: "";
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
menu hamburger > i:before {
  -webkit-transform: translate(-50%, -10px);
  transform: translate(-50%, -10px);
}
menu hamburger > i:after {
  -webkit-transform: translate(-50%, 10px);
  transform: translate(-50%, 10px);
}
* {
  margin: 0;
  padding: 0;
}
label {
  cursor: pointer;
}
label:hover {
  outline: none;
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  background: #20005ff5;
  width: 345px;
  height: 105%;
  -webkit-transform: translate3d(-345px, 0, 0);
  transform: translate3d(-345px, 0, 0);
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
  z-index: 999;
  overflow: auto;
}
@media (max-width: 769px) {
  .menu {
    width: 100%;
    height: 105%;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.show {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.menu ul li a,
.menu ul li label {
  position: relative;
  margin: auto;
  text-decoration: none;
  color: #fff;
  padding: 25px 0;
  display: block;
  font-size: 17px;
}
.menu-checkbox {
  display: none;
}
.nav-box ul.mb-ul li .connet:after,
.nav-box ul.mb-ul li .connet:before {
  content: " ";
  position: absolute;
  display: inline-block;
  height: 2px;
  width: 10px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  background: #fff;
  right: 0;
}
.nav-box {
  padding: 70px 0 100px;
}
.nav-box .close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  cursor: pointer;
}
.nav-box .logo {
  margin: 0 50px;
  display: inline-block;
  height: 50px;
  width: 120px;
  border: none;
  background-color: #fff;
  vertical-align: top;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-mask: url(../images/logo.svg) no-repeat
    center center;
  -webkit-mask-size: 100%;
}
@media (-ms-high-contrast: none), screen and (-ms-high-contrast: active) {
  .nav-box .logo {
    background: url(../images/mb-logo.);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
@supports (-ms-ime-align: auto) {
  .nav-box .logo {
    background: url(../images/mb-logo.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
.nav-box ul.mb-ul {
  padding-bottom: 100px;
}
.nav-box ul.mb-ul li {
  color: #fff;
  padding: 0 50px;
}
.nav-box ul.mb-ul li .connet {
  color: #fff;
  padding: 25px 0;
  display: block;
}
.nav-box ul.mb-ul li .connetnew {
  margin: 50px 0;
  border-left: 1px   solid;
  padding: 1px 9px;
}
.nav-box ul.mb-ul li .connet:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: 4px;
}
.nav-box ul.mb-ul li .connet:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: 10px;
}
.nav-box ul.mb-ul li a.down:before {
  -webkit-transform: rotate(45deg) translateX(-3px) translateY(9px);
  transform: rotate(45deg) translateX(-3px) translateY(9px);
}
.nav-box ul.mb-ul li a.down:after {
  -webkit-transform: rotate(-45deg) translateX(0) translateY(-3px);
  transform: rotate(-45deg) translateX(0) translateY(-3px);
}
.nav-box ul.mb-ul ul.sudeMenuSub {
  display: none;
  background-color: rgba(30, 29, 31, 0.9);
  margin: 0 -50px;
  padding: 0 50px;
}
.nav-box ul.mb-ul ul.sudeMenuSub li {
  padding: 0;
}
.nav-box ul.mb-ul ul.sudeMenuSub li a {
  border-top: 1px solid #fff;
  font-size: 17px;
  color: #d4d4d4;
}
.nav-box ul.mb-ul ul.sudeMenuSub li:first-child a {
  border-top: 0 solid #fff;
}
.nav-box .icon {
  padding: 0 50px;
}
.nav-box .icon .icon-search {
  display: inline-block;
  height: 22px;
  width: 22px;
  border: none;
  background-color: #fff;
  margin-top: 0;
  margin-left: -5px;
  vertical-align: top;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-right: 30px;
  -webkit-mask: url(../images/Search.svg)
    no-repeat center center;
  -webkit-mask-size: 90%;
}
.nav-box .icon .icon-search:hover {
  background-color: #1ea0c3;
}
@media (max-width: 525px) {
  .nav-box .icon .icon-search {
    margin-right: 15px;
  }
}
@media (-ms-high-contrast: none), screen and (-ms-high-contrast: active) {
  .nav-box .icon .icon-search {
    background: url(../images/search.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
@supports (-ms-ime-align: auto) {
  .nav-box .icon .icon-search {
    background: url(../images/search.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
.nav-box .icon .icon-fb {
  display: inline-block;
  height: 22px;
  width: 22px;
  border: none;
  background-color: #fff;
  margin-top: 0;
  margin-left: -5px;
  vertical-align: top;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-right: 30px;
  -webkit-mask: url(../images/facebook.svg)
    no-repeat center center;
  -webkit-mask-size: 100%;
}
.nav-box .icon .icon-fb:hover {
  background-color: #1ea0c3;
}
@media (max-width: 525px) {
  .nav-box .icon .icon-fb {
    margin-right: 15px;
  }
}
@media (-ms-high-contrast: none), screen and (-ms-high-contrast: active) {
  .nav-box .icon .icon-fb {
    background: url(../images/fb.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
@supports (-ms-ime-align: auto) {
  .nav-box .icon .icon-fb {
    background: url(../images/fb.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
.nav-box .icon .icon-mail {
  display: inline-block;
  height: 22px;
  width: 22px;
  border: none;
  background-color: #fff;
  margin-top: 0;
  margin-left: -5px;
  vertical-align: top;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-right: 30px;
  -webkit-mask: url(../images/mail_white.svg)
    no-repeat center center;
  -webkit-mask-size: 100%;
}
.nav-box .icon .icon-mail:hover {
  background-color: #1ea0c3;
}
@media (max-width: 525px) {
  .nav-box .icon .icon-mail {
    margin-right: 15px;
  }
}
@media (-ms-high-contrast: none), screen and (-ms-high-contrast: active) {
  .nav-box .icon .icon-mail {
    background: url(../images/mail_white.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
@supports (-ms-ime-align: auto) {
  .nav-box .icon .icon-mail {
    background: url(../images/mail_white.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
.nav .except-index {
  width: 970px;
}
@media (max-width: 1025px) {
  .nav .except-index {
    width: 95%;
    padding: 0;
  }
}
.nav-box .mb-ul li:nth-child(n):before{
  content: "";
  position: relative;
  top: 43px;
  left: -10px;
}
.nav-box .mb-ul li:first-child::before {
  border-left: 2px solid #f2e3ff;
}
.nav-box .mb-ul li:nth-child(2):before {
  border-left: 2px solid #c7b4ff;
}
.nav-box .mb-ul li:nth-child(3):before {
  border-left: 2px solid #aa8dff;
}
.nav-box .mb-ul li:nth-child(4):before {
  border-left: 2px solid #8c65ff;
}
.nav-box .mb-ul li:nth-child(5):before {
  border-left: 2px solid #6936ff;
}
.nav-box .mb-ul li:nth-child(6):before {
  border-left: 2px solid #4100ff;
}
.mb-ul .sudeMenuSub li:nth-child(n):before {
  border: none;
}
